body {
    font-family: 'Yomogi', cursive;
    background-image: url("https://github.com/FrankZiWANG-dev/ajax-simple-web-service-request/blob/main/assets/images/background.jpeg?raw=true");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: 'Yomogi', cursive;
}

#photo {
    max-height: 300px;
    max-width: 300px;
}

#photosize {
    max-width: 300px;
    max-height: 300px;
    object-fit: contain;
}

button {
    font-family: 'Yomogi', cursive;
    font-weight: bold;
}